/*  your css code here. If applicable */
.heading{
	text-align:center;
}
.book{
	color:royalblue;
}
.form-input{
	width:100%;
	height:22px;
	border:1px solid grey;
	border-radius:5px;
}
#submit{
	background:blue;
	color:white;
	padding: 5px 15px;
	margin-top:5px;
	border:none;
	border-radius:5px;
	cursor:pointer;
}
#submit:hover{
	background-color: darkblue;
	border-radius:50%;
	transition:0.5s;
}
.table-striped{
	width:100%;
	border-collapse: collapse;
}
.table-striped thead th{
	text-align:left;
	width:200px;
	border-bottom:2px solid black;
	padding:5px;
}
.table-striped tbody td{
	background-color: #f2f2f2;
	text-align:left;
	padding:8px;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
	border-radius:5px;
}

.delete:hover {
    background-color: darkred;
	border-radius:50%;
	transition:0.5s;
}